*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
header{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #dddddd;
}
main{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}
head{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.headleft{
	width:180px;
	height: 61px;
	margin-top: 18px;
	float: left; 
}
.headleft img{
	width: 180px;
	height: 61px;
}
.zhongjian{
	height: 100%;
	margin: 0 auto;
	float: left;
	margin-left:101px;
}
.zhongjian li{
	padding: 0 10px;
	line-height: 100px;
	float: left;
	font-size: 16px;
	position: relative;
}
.zhongjian li a{
	color:#333333; 
}
.zhongjian li:last-child{
	margin-right: 0px;
}
.zhongjian li a:hover{
	color: #a44dbe;
}
.zhongjian li:first-child  a{
	color: #a44dbe;
}
.sanjiao{
	width: 0px;
	height: 0px;
	border-bottom: 10px solid #e775d4;
	border-top:    10px solid transparent;
	border-left:   10px solid transparent;
	border-right:  10px solid transparent;
	position: absolute;
	left: 0px;
	right:0px;
	margin-left: auto;
	margin-right: auto; 
	top: 80px;
	z-index: 10;
}
.zhongjian .juti{
	width: 100%;
	position: absolute;
	left: 0;
	top: 100px;
	background: #e775d4;
	z-index: 10;
}
.zhongjian .juti a{
	display: block;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: white;
	margin-bottom: 5px;
	margin-top: 5px;
}
.zhongjian .juti a:hover{
	background:#a44dbe;
	color: white; 
}
.headright{
	width: 190px;
	height: 46px;
	margin-left: 25px;
	margin-top: 20px;
	float: left;
}
.lianxi{
	width: 100%;
	height: 26px;
}
.dianhua{
	width: 24px;
	height: 24px;
	font-family: 'iconfont';
	font-size: 18px;
	color:#ffffff;
	float: left;
	text-align: center;
	line-height: 24px;
	background:#a44dbe;
	border-radius: 50%;
	margin-left: 5px;
}
.headright .rexian{
	font-size: 16px;
	float: left;
	color:#a44dbe;
	margin-left: 4px; 
	font-weight: bolder;
}
.headright .tel{
	font-size: 20px;
	color:#a44dbe;
	margin-left: 5px;
	font-weight: bolder;
	margin-top: 10px;
}
/* 头部结束 */
.banner1{
	width: 100%;
	height: 500px;
}
.datu{
	width: 100%;
	height: 500px;
	position: relative;
}
.bxia {
	position: absolute;
}
.datu img{
	width:100%;
	height: 500px; 
}
.lunbodian{
	width: 75px;
	height: 15px;
	position: absolute;
	bottom: 3%;
	left: 0;
	right: 0;
	margin: auto;
}
.lunbodian li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
	background: #6a56b5;
}
.lunbodian li:last-child{
	margin-right: 0px;
}
.lunbodian li:hover{
	background: #e775d4;
}
.lunbodian .yanse{
	background: #e775d4;
}
.bleft{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top:auto;
	margin-bottom: auto;
	left: 30px;
	background: #f5f5f5;
	font-family: 'iconfont';
	opacity: 0;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	color: #e775d4;
}
.bright{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top:auto;
	margin-bottom: auto;
	right: 30px;
	background: #f5f5f5;
	opacity: 0;
	font-family: 'iconfont';
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	color: #e775d4;
}
.banner1:hover .bleft{
	opacity: 0.6;
}
.banner1:hover .bright{
	opacity: 0.6;
}
.bleft:hover{
	opacity: 0.6;
}
.bright:hover{
	opacity: 0.6;
}
/* 搜索 */
.sousuo{
	width: 100%;
	height: 60px;
	background: #a44dbe;
	overflow: hidden;
}
.neirong{
	width: 545px;
	height: 40px;
	margin: 10px auto;
}
.keywords{
	width: 256px;
	height: 40px; 
	float: left;
	margin-left: 10px;
}
.keywords li{
	float: left;
	margin-right: 5px;
	line-height: 40px;
	font-size: 14px;
}
.keywords li:first-child{
	font-size: 16px;
	color: white;
}
.keywords li a{
	color: white;
}
.key-input{
   width: 198px;
   height: 40px;
   float: left;
   overflow: hidden;
}
.fangdajing{
	width: 40px;
	height: 40px;
	float: left;
	background: white;
	overflow: hidden;
}
.fangdajing1{
	width: 20px;
	height: 20px;
	font-family: 'iconfont';
	text-align: center;
	line-height: 20px;
	font-weight: bolder;
	margin-top: 10px;
	border-right: 1px solid #555;
	background: white;
	margin-left: 6px;
	padding-right: 5px;
}
.key-input input{
	height: 40px;
	width:  153px;
	float: left;
	background: white;
	padding-left: 5px;
	color: #555;
	border: none;
	outline: none;
}
.key-anniu{
	width: 32px;
	height: 40px;
	font-size: 16px;
	line-height: 38px;
	padding: 0px 20px;
	color: white;
    background: #eb90dc;
    float: right;
    cursor: pointer;
}
.key-anniu:hover{
	background: #ff71e8;
}
/* 结束搜索 */
.tuwen{
	width: 100%;
	height: 1278px;
	margin-top: 50px;
}
.box1{
	width: 1100px;
	height: 420px;
	margin: 0 auto;
}
.left1{
	width: 600px;
	height: 420px;
	float: left;
}
.left1  img{
	width: 600px;
	height: 420px;
}
.right1{
	width: 500px;
	height: 420px;
	float: left;
	overflow: hidden;
}
.right1 h1{
	width: 450px;
	height: 40px;
	margin-top: 127px;
    font-size:30px; 
    margin-left: 50px;
    line-height: 40px;
}
h1  a{
    color: #333;
}
h1 a:hover{
	color: #e775d4;
}
.jieshao1{
	font-size: 20px;
	line-height: 1.8;
	color: #777;
	margin: 20px 50px 0;
}
.right1 .chakan{
    width: 152px;
	height: 54px;
	display: block;
	color: white;
	font-size: 18px;
	line-height: 54px;
	text-align: center;
	margin-left: 50px;
	margin-top: 20px;
	background: #6a56b5;
}
.chakan:hover{
    background: #e775d4;
}
.box2{
	width: 1100px;
	height: 758px;
	margin: 0 auto;
	overflow: hidden;
}
.box2 li{
	width: 300px;
	height: 349px;
	margin-top: 30px;
	margin-right: 100px;
	float: left;
}
.box2 li:nth-child(3n){
	margin-right: 0px;
}
.box2 li img{
	width: 300px;
	height: 300px;
	clear: both;
    display: block;
    margin:auto;
}
.box2 li h4{
	width: 100%;
	font-size: 16px;
    margin-top: 5px;
    color: #6a56b5;
    height: 28px;
    line-height: 28px;
    text-align: center;
    overflow: hidden;
}
.box2 li p{
	width: 100%;
	height: 16px;
	line-height: 16px;
	color: #999;
	font-size: 12px;
	width: 100%;
	text-align: center;
}
.middle{
	width: 100%;
	height: 278px;
}
.middle img{
	width: 100%;
	height: 100%;
}
.taocan{
	width: 100%;
	height: 1500px;
	margin-top: 30px;
}
.biaoti{
	width: 447px;
	height: 134px;
	margin: 0 auto;
	background: white;
	position: relative;
}
.biaoti h2{
	font-size: 30px;
	color: #222;
	text-align: center;
	padding-bottom: 12px;
}
.biaoti hr{
	width: 403px;
    border-top: 4px solid #6a56b5;
    margin-left: 22px;
    margin-top: 10px;
}
.kuai{
	width: 135px;
	height: 10px;
	position: absolute;
	left: 156px;
	bottom: 28px;
	background: #e775d4;
}
.taocan dl{
	width: 1100px;
	height: 300px;
	margin: 30px auto;
	background: white;
}

.taocan dl dt{
	width: 500px;
	height: 300px;
	float: left;
	padding-left:20px;
	padding-right:20px;
}
.taocan dl dt img{
	width: 500px;
	height: 300px;
	clear: both;
    display: block;
    margin:auto;
}
.taocan dl dd{
	width: 560px;
	height:300px;
	float: left;
	margin-top: 30px;
	overflow: hidden;
}
.taocan dl dd p{
	width: 520px;
	height:60px;
	margin-left: 20px;
	margin-top: 76px;
	line-height: 60px;
	font-size: 24px;
	color: #222;
}
.taocan dl dd span{
	width: 504px;
	margin-left: 20px;
	font-size: 18px;
	line-height: 24px;
	color: #555;
	float: left;
}
.jmd{
	width: 100%;
	height: 566px;
	/* background: red; */
}
.dajiameng{
	width: 100%;
	height: 358px;
	margin-top: 20px;
}
/* 效果css */
.banner{
    width: 1100px;
    height: 358px;
    text-align: center;
}
.dg-container {
    position: relative;
    width: 100%;
    height: 260px;
}
.dg-wrapper {
    width: 458px;
    height: 358px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.dg-wrapper a {
    width: 458px;
    height: 358px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.dg-wrapper a:first-child {
    z-index: 2;
}
.dg-wrapper a img {
    display: block;
    border:4px solid #fff;
    width: 458px;
    height: 358px;
    box-sizing: border-box;
}
.dg-wrapper a.dg-transition {
    transition: all 0.5s ease-in-out;
}
.dg-wrapper a.dg-transition-fast {
    transition: all 0.2s ease-in-out;
}
/* 结束 */
.zhanshi{
	display: block;
	width: 170px;
	height: 54px;
	background:#a44dbe;
	font-size: 18px;
    line-height: 54px;
    margin: 20px auto;
    color: white;
    text-align: center;
}
.zhanshi:hover{
	background: #e775d4;
}
.title{
	width: 100%;
	height: 52px;
	margin-top: 40px;
	background: white;
}
.lt{
	width: 151px;
	height: 52px;
	float: left;
	font-size: 24px;
	line-height: 52px;	
}
.icon{  
	width: 24px;
	height: 24px;
	font-family: 'iconfont';
	font-size: 24px;
	color:#a44dbe;
	float: left;
	font-weight: bolder;
}
.zhi{
	float: left;
	font-size: 24px;
	line-height: 52px;	
}
.rt{	
	width: 131px;
	height: 38px;
	float: right;
	border-radius: 38px;
	border: 1px solid #777;
	font-size: 18px;
	line-height: 38px;
	text-align: center;
	margin-top: 6px;
}
.rt a{
	color: #777;
}
.rt:hover{
	border-color: #a44dbe;
	color: #a44dbe;
}
.jianjie{
    width: 1100px;
    height: 260px;
    margin: 0 auto;
    background: white;
    margin-top: 40px;
}
.jz{
	width: 300px;
	height: 260px;
	float: left;
}
.jz img{
	width: 300px;
	height: 260px;
}
.jr{
	width: 750px;
	height: 300px;
	float: left;
	margin-left: 50px;
	position: relative;
}
.jr  p{
	font-size: 16px;
	color: #939393;
	line-height: 24px;
	margin-top: 10px;
	margin-right: 20px;
	text-indent:2em;/* 首行缩进 */
}
.rt1{	
	width: 131px;
	height: 38px;
	border-radius: 38px;
	border: 1px solid #777;
	font-size: 18px;
	line-height: 38px;
	text-align: center;
    position: absolute;
    bottom: 40px;
    right: 0;
}
.rt1:hover{
	border-color: #a44dbe;
	color: #a44dbe;
}
.rt1 a{
	color: #777;
}
.anli{
	width: 1100px;
	height: 52px;
	margin: 20px auto;
	overflow: hidden;
}
.al{
	width: 127px;
	height: 52px;
	float: left;
	font-size: 24px;
	line-height: 52px;
	color: #222;
}
.ar{
	width: 72px;
	height: 28px;
	float: right;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	color: white;
	margin-top: 12px;
	background: #a44dbe;
	cursor: pointer;
}
.ar:hover{
	color: #e7e4e8; 
}
.new{
	width: 1100px;
	height: 230px;
	margin: 20px auto;
	background: white;
}
.tupian{
	width: 1100px;
	height: 170px;
	margin: 10px auto;
	overflow: hidden;
}
.tuzuo{
    width: 55px;
    height: 170px;
    float: left;
    font-family: 'iconfont';
    line-height: 170px;
    background: white;
    text-align: center;
    font-size: 50px;
    color: #999;
    cursor: pointer;
}
.tuzuo:hover{
	background: #e775d4;
	color: white;
}
.tuzhong{
	width: 966px;
	margin-left: 12px;
	height: 170px;
	float: left;
	position: relative;
	overflow: hidden;
}
.tuzhong1{
	width: 1440px;
	height: 170px;
	position: absolute;
	left: 0;
	top: 0;
	float: left;
}
.tuzhong1 img{
	width: 220px;
	height: 170px;
}
.tuzhong2{
	width: 1440px;
	height: 170px;
	position: absolute;
	left: 1440px;
	top: 0;
	float: left;
}
.tuzhong2 img{
	width: 220px;
	height: 170px;
}
.dongtu{
	width: 220px;
	height: 170px;
	margin-right: 20px;
	float: left;
}
.tuyou{
    width: 55px;
    height: 170px;
    margin-left: 12px;
    float: left;
    font-family: 'iconfont';
    line-height: 170px;
    background: white;
    text-align: center;
    font-size: 50px;
    color: #999;
    cursor: pointer;
}
.tuyou:hover{
	background: #e775d4;
	color: white;
}
.new{
	width: 1100px;
	height: 214px;
	margin: 16px auto;
	background: white;
}
.new1{
	width: 528px;
	height: 214px;
	margin-right: 44px;
	float: left;
}
.newtitle1{
	width: 100%;
	height: 52px;
}
.newleft{
	width: 127px;
	height: 52px;
	font-size: 24px;
	line-height: 52px;
	color: #222;
	float: left;
}
.newright{
	width: 72px;
	height: 28px;
	float: right;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	color: white;
	margin-top: 12px;
	background:#a44dbe;
	cursor: pointer; 
}
.newright:hover{
    color:#e7e4e8; 
}
.newp{
    width: 210px;
    height: 150px;
    float: left;
}
.newp img{
	width: 210px;
	height: 150px;
}
.dongtai{
	float: right;
}
.hufu{
	width: 203px;
	height: 30px;
	float: left;
	color: #555;
	font-size: 12px;
}
.date{
	width: 78px;
	height: 30px;
	float: right;
	color: #777;
	font-size: 14px;
}
.date:hover{
	color: #e775d4;
}
.hufu:hover{
	color: #e775d4;
}
.new2{
	width: 528px;
	height: 214px;
	float: left;
}
.tuijian{
	width: 290px;
	height: 67px;
	float: right;
}
.tuijian a{
	width: 100%;
	display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}
.tuijian a:hover{
	color: #e775d4;
}
.tuijian p{
	width: 280px;
	height: 20px;
	color: #777;
	font-size: 14px;
}
.tuijian li:nth-child(2){
	padding-bottom: 10px;
	border-bottom: 1px dashed #888;
	margin-bottom: 8px;
}
/* 底部 */
.footer{
	width: 100%;
	height: 172px;
	background: #6A56B5;
	overflow: hidden;
}
.dibu{
	width: 1100px;
	height: 132px;
	margin: 20px auto;
}
.zuobu{
	width: 570px;
	height: 132px;
	padding-right: 20px;
	border-right: 2px solid #7C69C1;
	float: left;
	margin-right: 20px;
}
.dilogo{
	width: 148px;
	height: 50px;
	color: white;
}
.dilogo img{
   width: 148px;
   height: 50px;
}
.footer-nav{
	width: 552px;
	height: 54px;
}
.footer-nav li{
	margin: 20px  0px;
	padding: 0px 10px;
	font-size: 14px;
	border-right: 1px solid #ccc;
	line-height: 10px;
	float: left;
}
.footer-nav li a{
	color: #fff;
}
.footer li a:hover{
	color: #e775d4;
}
.footer li:last-child{
	border-right: 0px;
}
.footer-contact{
	width: 560px;
	height: 28px;
	padding-left: 10px;
	font-size: 14px;
    line-height: 20px;
    color: #beadef;
}
.footer-contact a{
	color: #beadef;
}
.footer-contact a:hover{
	color: #e775d4;
}
.center{
	width: 310px;
	height: 129px;
	float: left;
}
.center h3{
	width: 100%;
	height: 54px;
	color: white;
	line-height: 54px;
	margin-bottom: 8px;
}
.meili{
	width: 103px;
	height: 30px;
	float: left;
	color: white;
	font-size: 14px;
	line-height: 10px;
	margin-top: 5px;
}
.meili:hover{
	color: #e775d4;
}
.youbu{
	width: 154px;
	height: 128px;
	margin-left: 20px;
	float: left;
	font-size: 12px;
	color: white;
	text-align: center;
}
.saoma{
	width: 100px;
	height: 100px;
	clear: both;
    display: block;
    margin:auto;
}
.saoma img{
    width: 100px;
    height: 100px;
}
.copyright{
	width: 100%;
	height: 86px;
	padding: 10px 0;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	color: #ccc;
	background: #6A56B5;
}
/* 底端结束 */
.guding{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: fixed;
	right: 10%;
	bottom: 8%;
	background: #e775d4;
	font-family: 'iconfont';
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	color: white;
	display: none;
	cursor: pointer;
}