*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
/*头部*/
header{
	width:100%;
	height: 0.92rem;
	background: #0078e6;
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
}
.head{
	width:100%;
	height: 0.92rem;
}
.logo-title{
	width: 2.01rem;
	height: 0.67rem;
	padding-left: 2.74rem;
	padding-top: 0.13rem;
}
.logo{
	width: 0.71rem;
	height: 0.67rem;
	background: url(../img/logo.png) no-repeat center center;
	background-size: 0.71rem 0.67rem;
	float: left;
	margin-right: 0.16rem;
}
.word-title{
	width: 1.13rem;
	height: 0.67rem;
	font-size: 0.33rem;
	color: #fff;
	float: left;
	line-height: 0.67rem;
}
.banner-pic{
	width: 100%;
	height: 4rem;
	display: block;
	position: relative;
}
.banner-pic img{
	width: 100%;
	height: 100%;
	display: block;
}
.big-lunbo{
	width: 100%;
	height: 0.09rem;
	position: absolute;
	left: 0;
	bottom: 0.03rem;
}
.lunbo-box{
	width: 24.8%;
	height: 0.09rem;
	background: #ff8d12;	
	float: left;
	margin-right: 0.02rem;
	box-sizing: border-box;
}
.big-lunbo .lunbo-box:last-child{
	margin-right: 0rem;
}
.lunbo-box2,.lunbo-box3,.lunbo-box4{
	opacity: 0;
}
.lunbo-box2:hover{
	opacity: 1;
}
.lunbo-box3:hover{
	opacity: 1;
}
.lunbo-box4:hover{
	opacity: 1;
}
.banquan{
	width: 100%;
	height: 0.92rem;
	background: #f5f6fa;
}
.banquan1{
	width: 100%;
	height: 0.36rem;
	padding-top: 0.2rem;
	display: block;
	text-align: center;
	font-size: 0.2rem;
	color: #666666;
}
.banquan2{
	width: 100%;
	height: 0.2rem;
	text-align: center;
	font-size: 0.2rem;
	color: #666666;
}
/*概述*/
.big-gaishu{
	width: 100%;
	height: 5.1rem;
	background: #f5f6fa;
	padding-bottom: 0.2rem;
}
.gaishu-daohang{
	width: 6rem;
	height: 0.52rem;
	padding-top: 0.3rem;
	margin-left: 0.23rem;
}
.shouye-word{
	width: 0.67rem;
	height: 0.22rem;
	font-size: 0.22rem;
	display: block;
	color: #000000;
	float: left;
}
.techer-word{
	width: 1.32rem;
	height: 0.22rem;
	font-size: 0.22rem;
	display: block;
	color: #000;
	float: left;
}
.word-xiangqing{
	width: 1.8rem;
	height: 0.22rem;
	font-size: 0.22rem;
	display: block;
	color: #000;
	float: left;
}
.white-gaishu{
	width: 7.02rem;
	height: 4.28rem;
	background: #fff;
	margin: 0 auto;
}
.title-gaishu{
	width: 6.63rem;
	height: 0.38rem;
	margin-bottom: 0.3rem;
	margin-left: 0.19rem;
	padding-top: 0.3rem;
}
.blue-box{
	width: 0.04rem;
	height: 0.2rem;
	background: #01b5ff;
	float: left;
	margin-top: 0.01rem;
	margin-right: 0.19rem;
}
.word-gaishu{
	width: 6.4rem;
	height: 0.37rem;
	float: left;
	font-size: 0.23rem;
	color: #000000;
	border-bottom: 0.01rem dashed #999999;
}
.photo-introduce{
	width: 6.21rem;
	height: 2.81rem;
	margin-left: 0.42rem;
}
.left-photo{
	width: 2.8rem;
	height: 2.81rem;
	float: left;
	margin-right: 0.3rem;
}
.left-photo img{
	width: 100%;
	height: 100%;
}
.right-introduce{
	width: 3.11rem;
	height: 2.63rem;
	float: left;
	margin-top: 0.19rem;
}
.big-name{
	width: 2.91rem;
	height: 0.28rem;
	margin-bottom: 0.5rem;
}
.left-name{
	width: 1.18rem;
	height: 0.28rem;
	float: left;
	font-size:0.28rem ;
	color: #000000;
}
.right-zhicheng{
	width: 2.4rem;
	height: 0.22rem;
	padding-top: 0.06rem;
	font-size: 0.22rem;
	color: #01b5ff;
}
.left-heizi{
	width: 0.9rem;
	height: 1.52rem;
	float: left;
}
.left-heizi li{
	font-size: 0.23rem;
	color: #000000;
	font-weight: bolder;
}
.left-heizi li:first-child{
	margin-bottom: 0.19rem;
}
.left-heizi li:nth-child(2){
	margin-bottom: 0.6rem;
}
.right-box{
	width: 1.94rem;
	height: 1.72rem;
	float: left;
}
.right-box li{
	font-size: 0.23rem;
	color: #000000;
	margin-bottom: 0.19rem;
}
.right-box li:nth-child(2){
	margin-bottom: 0.13rem;
}
.big-jianjie{
	width: 100%;
	height: 5.16rem;
	background: #f5f6fa;
}
.white-jianjie{
	width: 93.6%;
	height: 5.16rem;
	background: #FFFFFF;
	margin: 0 auto;
}
.text1{
	width: 6.45rem;
	height: 2.1rem;
	margin-left: 0.42rem;
	font-size: 0.23rem;
	color: #666666;
	line-height: 0.42rem;
}
.text2{
	width: 6.45rem;
	height: 1.81rem;
	margin-left: 0.42rem;
	font-size: 0.23rem;
	color: #666666;
	line-height: 0.42rem;
}
