/*
* @Author: 77929
* @Date:   2017-07-20 15:49:42
* @Last Modified by:   77929
* @Last Modified time: 2017-07-20 23:41:55
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
/*头部*/
header{
	width:100%;
	height: 0.92rem;
	background: #0078e6;
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
}
.head{
	width:100%;
	height: 0.92rem;
}
.logo-title{
	width: 2.01rem;
	height: 0.67rem;
	padding-left: 2.74rem;
	padding-top: 0.13rem;
}
.logo{
	width: 0.71rem;
	height: 0.67rem;
	background: url('../img/logo.png') no-repeat center center;
	background-size: 0.71rem 0.67rem;
	float: left;
	margin-right: 0.16rem;
}
.word-title{
	width: 1.13rem;
	height: 0.67rem;
	font-size: 0.33rem;
	color: #fff;
	float: left;
	line-height: 0.67rem;
}
.banner-pic{
	width: 100%;
	height: 4rem;
	display: block;
	position: relative;
}
.banner-pic img{
	width: 100%;
	height: 100%;
	display: block;
}
.big-lunbo{
	width: 100%;
	height: 0.09rem;
	position: absolute;
	left: 0;
	bottom: 0.03rem;
}
.lunbo-box{
	width: 24.8%;
	height: 0.09rem;
	background: #ff8d12;	
	float: left;
	margin-right: 0.02rem;
	box-sizing: border-box;
}
.big-lunbo .lunbo-box:last-child{
	margin-right: 0rem;
}
.lunbo-box2,.lunbo-box3,.lunbo-box4{
	opacity: 0;
}
.lunbo-box2:hover{
	opacity: 1;
}
.lunbo-box3:hover{
	opacity: 1;
}
.lunbo-box4:hover{
	opacity: 1;
}
/* 概述 */
.big-gaishu{
	width: 100%;
	height: 6.9rem;
	background: #f5f6fa;
	padding-bottom: 0.1rem;
}
main{
	width: 93.6%;
	height: 100%;
	/* background: cyan; */
	margin: 0 auto;
}
.daohanglan{
	width: 100%;
	height: 0.23rem;
	padding-top: 0.3rem;
	margin-bottom: 0.28rem;
	font-size: 0.23rem;
	color: #000;
}
.shouye{
	width: 0.66rem;
	height: 0.23rem;
	float: left;
	font-size: 0.23rem;
	color: #000;
}
.word-student{
	width: 1.5rem;
	height: 0.23rem;
	float: left;
	font-size: 0.23rem;
	color: #000;
}
.white-box{
	width: 100%;
	height: 6.08rem;
	background: #fff;
}
.top-main{
	width: 6.64rem;
	height: 3.49rem;
	margin-left: 0.19rem;
	padding-top: 0.3rem;
	margin-bottom: 0.45rem;
}
.blue-box{
	width: 0.04rem;
	height: 0.2rem;
	background: #01b5ff;
	margin-top: 0.02rem;
	margin-right: 0.2rem;
	float: left;
}
.title-gaishu{
	width: 6.4rem;
	height: 0.23rem;
	padding-bottom: 0.14rem;
	float: left;
	border-bottom: 0.01rem dashed #999999;
	font-size: 0.23rem;
	font-weight: bolder;
	margin-bottom: 0.16rem;
}
.top-text{
	width: 6.4rem;
	height: 2.95rem;
	font-size: 0.23rem;
	color: #666666;
	margin-bottom: 0.45rem;
	margin-left: 0.22rem;
}
.bottom-text{
	width: 6.4rem;
	height: 2.62rem;
	font-size: 0.23rem;
	color: #666666;
	margin-left: 0.22rem;
}
/* 企业文化 */
.big-qiye{
	width: 100%;
	height: 2.85rem;
	background: #f5f6fa;
}
.white-gongsi{
	width: 100%;
	height: 2.75rem;
	background: #fff;
	overflow: hidden;
}
.sange-logo{
	width: 5.89rem;
	height: 1.33rem;
	/* background: red; */
	margin-left: 0.79rem;
	margin-top: 1.04rem;
}
.first-logo{
	width: 1.34rem;
	height: 1.33rem;
	float: left;
}
.first-logo img{
	width: 100%;
	height: 100%;
	display: block;
}
.second-logo{
	width: 1.34rem;
	height: 1.33rem;
	float: left;
	margin-left: 0.71rem;
}
.second-logo img{
	width: 100%;
	height: 100%;
	display: block;
}
.big-linian{
	width: 100%;
	height: 1.42rem;
	background: #f5f6fa;
}
.white-linian{
	width: 100%;
	height: 1.32rem;
	background: #fff;
}
.titlee-main{
	width: 6.63rem;
	height: 0.38rem;
	padding-left: 0.19rem;
	padding-top: 0.3rem;
	margin-bottom: 0.14rem;
	/* background: red; */
}
.box1{
	width: 0.04rem;
	height: 0.2rem;
	background: #01b5ff;
	margin-top: 0.02rem;
	float: left;
	margin-right: 0.2rem;
}
.word-linian{
	width: 6.39rem;
	height: 0.37rem;
	border-bottom: 0.01rem dashed #999999;
	font-size: 0.23rem;
	color: #000;
	font-weight: bolder;
	float: left;
}
.text-linian{
	width: 6.2rem;
	height: 0.24rem;
	font-size: 0.24rem;
	color: #999999;
	padding-left: 0.42rem;
}
.big-baoming{
	width: 1.68rem;
	height: 1.68rem;
	background: #f5f6fa;
	padding-left: 2.9rem;
	padding-top: 0.23rem;
	padding-bottom: 0.3rem;
	padding-right: 2.92rem;
}
.big-baoming img{
	width: 100%;
	height: 100%;
	display: block;
}
footer{
	width: 100%;
	height: 0.83rem;
	background: #f5f6fa;
}
.diyih{
	width: 100%;
	height: 0.36rem;
	font-size: 0.17rem;
	color: #666666;
	text-align: center;
}
.dierh{
	width: 100%;
	height: 0.17rem;
	font-size: 0.17rem;
	color: #666666;
	text-align: center;
}