*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
/*头部*/
header{
	width:100%;
	height: 0.92rem;
	background: #0078e6;
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
}
.head{
	width:100%;
	height: 0.92rem;
}
.logo-title{
	width: 2.01rem;
	height: 0.67rem;
	padding-left: 2.74rem;
	padding-top: 0.13rem;
}
.logo{
	width: 0.71rem;
	height: 0.67rem;
	background: url('../img/logo.png') no-repeat center center;
	background-size: 0.71rem 0.67rem;
	float: left;
	margin-right: 0.16rem;
}
.word-title{
	width: 1.13rem;
	height: 0.67rem;
	font-size: 0.33rem;
	color: #fff;
	float: left;
	line-height: 0.67rem;
}
.banner-pic{
	width: 100%;
	height: 4rem;
	display: block;
	position: relative;
}
.banner-pic img{
	width: 100%;
	height: 100%;
	display: block;
}
.big-lunbo{
	width: 100%;
	height: 0.09rem;
	position: absolute;
	left: 0;
	bottom: 0.03rem;
}
.lunbo-box{
	width: 24.8%;
	height: 0.09rem;
	background: #ff8d12;	
	float: left;
	margin-right: 0.02rem;
	box-sizing: border-box;
}
.big-lunbo .lunbo-box:last-child{
	margin-right: 0rem;
}
.lunbo-box2,.lunbo-box3,.lunbo-box4{
	opacity: 0;
}
.lunbo-box2:hover{
	opacity: 1;
}
.lunbo-box3:hover{
	opacity: 1;
}
.lunbo-box4:hover{
	opacity: 1;
}
footer{
	width: 100%;
	height: 0.83rem;
	background: #f5f6fa;
}
.diyih{
	width: 100%;
	height: 0.36rem;
	font-size: 0.17rem;
	color: #666666;
	text-align: center;
}
.dierh{
	width: 100%;
	height: 0.17rem;
	font-size: 0.17rem;
	color: #666666;
	text-align: center;
}
.big-box{
	width: 100%;
	height: 29.81rem;
	background: #f5f6fa;
}
.top-daohang{
	width: 2.41rem;
	height: 0.53rem;
	padding-top: 0.29rem;
	margin-left: 0.23rem;
}
.shouye{
	width: 0.67rem;
	height: 0.24rem;
	font-size: 0.24rem;
	color: #000000;
	display: block;
	float: left;
}
.word-web{
	width: 1.74rem;
	height: 0.24rem;
	font-size: 0.24rem;
	color: #000000;
	float: left;
}
.white-box1{
	width: 93.73333%;
	height: 2.26rem;
	background: #FFFFFF;
	margin: 0 auto;
	margin-bottom: 0.1rem;
}
.white-box1 img{
	width: 100%;
	height: 100%;
}
.white-box2{
	width: 93.733333%;
	height: 4.66rem;
	background: #FFFFFF;
	margin: 0 auto;
	margin-bottom: 0.1rem;
}
.top-title{
	width: 6.63rem;
	height: 0.37rem;
	padding-top: 0.3rem;
	margin-left: 0.19rem;
	margin-bottom: 0.17rem;
}
.blue-box{
	width: 0.04rem;
	height: 0.2rem;
	background: #01b5ff;
	margin-top: 0.02rem;
	margin-right: 0.2rem;
	float: left;
}
.title-gaishu{
	width: 6rem;
	height: 0.37rem;
	float: left;
	border-bottom: 0.01rem dashed #999999;
	font-size: 0.23rem;
	font-weight: bolder;
}
.text-1{
	width: 6.4rem;
	height: 0.72rem;
	margin-left: 0.42rem;
	font-size: 0.23rem;
	color: #666666;
}
.text-2{
	width: 6.4rem;
	height: 0.36rem;
	margin-left: 0.42rem;
	font-size: 0.23rem;
	color: #01b5ff;
}
.text-3{
	width: 6.4rem;
	height: 1.3rem;
	margin-left: 0.42rem;
	font-size: 0.23rem;
	color: #666666;
}
.text-4{
	width: 6.4rem;
	height: 0.36rem;
	margin-left: 0.42rem;
	font-size: 0.23rem;
	color: #666666;
}
.white-box3{
	width: 93.733333%;
	height: 5.76rem;
	background: #FFFFFF;
	margin: 0 auto;
	margin-bottom: 0.1rem;
}
.money-pic{
	width: 100%;
	height: 5.08rem;
}
.money-pic img{
	width: 100%;
	height: 100%;
}
.top-title1{
	margin-bottom: 0;
}
.white-box4{
	width: 93.733333%;
	height: 5.56rem;
	margin-bottom: 0.1rem;
	background: #FFFFFF;
	margin: 0 auto;
}
.dierhang{
	width: 6.33rem;
	height: 0.76rem;
	margin-left: 0.5rem;
}
.left-logo{
	width: 0.56rem;
	height: 0.56rem;
	margin-right: 0.2rem;
	margin-top: 0.06rem;
	float: left;
}
.left-logo img{
	width: 100%;
	height: 100%;
	display: block;
}
.righe-job{
	width: 5.57rem;
	height: 0.46rem;
	padding-top: 0.06rem;
	float: left;
}
.blue-word{
	width: 100%;
	height: 0.3rem;
	font-size: 0.22rem;
	color: #01b5ff;
}
.black-word{
	width: 100%;
	height: 0.16rem;
	font-size: 0.16rem;
	color: #000;
}
.white-box5{
	width: 93.7333333%;
	height: 4.98rem;
	background: #FFFFFF;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.title55{
	width: 6.14rem;
	height: 0.49rem;
	font-size: 0.23rem;
	color: #000000;
	margin-left: 0.59rem;
}
.title55 li{
	float: left;
}
.title55 li:first-child{
	margin-right: 1.03rem;
}
.title55 li:nth-child(2){
	margin-right: 1.6rem;
}
.big-kuang{
	width: 6.66rem;
	height: 3.4rem;
	margin-left: 0.28rem;
	border-left: 0.01rem dashed #01b5ff;
}
.big-zhang{
	width: 6.66rem;
	height: 0.6rem;
	margin-top: 0.1rem;
	position: relative;
}
.big-zhang li{
	float: left;
	font-size: 0.22rem;
	color: #666666;
}
.yuia{
	width: 0.11rem;
	height: 0.11rem;
	border-radius: 100%;
	background: #01b5ff;
	border: 0.04rem solid #94e0ff;
	position: absolute;
	top:0.05rem;
	left:-0.1rem;
}
.big-zhang li:nth-child(2){
	margin-left: 0.27rem;
	margin-right: 0.5rem;
}
.big-zhang li:nth-child(3){
	margin-right: 0.36rem;
	color: #ffa201;
}
.white-box6{
	width: 93.733333%;
	height: 4.98rem;
	background: #FFFFFF;
	margin: 0 auto;
	margin-top: 0.1rem;
}
.lesson{
	width: 100%;
	height: 4.3rem;
}
.lesson img{
	width: 100%;
	height: 100%;
}
