*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
/*头部*/
header{
	width:100%;
	height: 0.92rem;
	background: #0078e6;
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
}
.head{
	width:100%;
	height: 0.92rem;
}
.logo-title{
	width: 2.01rem;
	height: 0.67rem;
	padding-left: 2.74rem;
	padding-top: 0.13rem;
}
.logo{
	width: 0.71rem;
	height: 0.67rem;
	background: url(../img/logo.png) no-repeat center center;
	background-size: 0.71rem 0.67rem;
	float: left;
	margin-right: 0.16rem;
}
.word-title{
	width: 1.13rem;
	height: 0.67rem;
	font-size: 0.33rem;
	color: #fff;
	float: left;
	line-height: 0.67rem;
}
.banner-pic{
	width: 100%;
	height: 4rem;
	display: block;
	position: relative;
}
.banner-pic img{
	width: 100%;
	height: 100%;
	display: block;
}
.big-lunbo{
	width: 100%;
	height: 0.09rem;
	position: absolute;
	left: 0;
	bottom: 0.03rem;
}
.lunbo-box{
	width: 24.8%;
	height: 0.09rem;
	background: #ff8d12;	
	float: left;
	margin-right: 0.02rem;
	box-sizing: border-box;
}
.big-lunbo .lunbo-box:last-child{
	margin-right: 0rem;
}
.lunbo-box2,.lunbo-box3,.lunbo-box4{
	opacity: 0;
}
.lunbo-box2:hover{
	opacity: 1;
}
.lunbo-box3:hover{
	opacity: 1;
}
.lunbo-box4:hover{
	opacity: 1;
}
.page-big{
	width: 100%;
	height: 0.7rem;
	background: #FFFFFF;
}
.main-page{
	width: 100%;
	height: 0.5rem;
	padding-top: 0.09rem;
}
.zuojiant{
	width: 0.5rem;
	height: 0.5rem;
	float: left;
	background: red;
	margin-left: 0.4rem;
	border-radius: 5%;
	background: url('../img/s1.png') no-repeat center center;
	background-size: 0.5rem 0.5rem;
	display: block;
}
.shangyiye{
	width: 1.48rem;
	height: 0.5rem;
	background: url('../img/s2.png') no-repeat center center;
	background-size: 1.48rem 0.5rem;
	float: left;
	display: block;
	margin-left: 0.15rem;
}
.tex{
	width: 1.48rem;
	height: 0.3rem;
	float: left;
	margin-left: 0.15rem;
	border: 0.01rem solid #666;
	letter-spacing: 0.01rem;
	color: #666;
	padding: 0.1rem;
	border-radius: 0.4rem;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.3rem;
	margin-right: 0.15rem;
}
.xiayiye{
	width: 1.48rem;
	height: 0.5rem;
	background: url('../img/s3.png') no-repeat center center;
	background-size: 1.48rem 0.5rem;
	float: left;
	display: block;
}
.youjiant{
	width: 0.5rem;
	height: 0.5rem;
	float: left;
	/* background: red; */
	margin-left: 0.1rem;
	border-radius: 5%;
	background: url('../img/s4.png') no-repeat center center;
	background-size: 0.5rem 0.5rem;
	display: block;
}
.banquan{
	width: 100%;
	height: 0.92rem;
	background: #f5f6fa;
}
.banquan1{
	width: 100%;
	height: 0.36rem;
	padding-top: 0.2rem;
	display: block;
	text-align: center;
	font-size: 0.2rem;
	color: #666666;
}
.banquan2{
	width: 100%;
	height: 0.2rem;
	text-align: center;
	font-size: 0.2rem;
	color: #666666;
}
.top-daohang{
	width: 2.86rem;
	height: 0.82rem;
	margin-left: 0.23rem;
}
.shouye{
	width: 0.67rem;
	height: 100%;
	font-size: 0.22rem;
	color: #000000;
	line-height: 0.82rem;
	display: block;
	float: left;
}
.word-report{
	width: 1.72rem;
	height: 100%;
	font-size: 0.22rem;
	color: #000000;
	line-height: 0.82rem;
	float: left;
}
.big-box{
	width: 100%;
	height: 14.77rem;
	background: #f5f6fa;
}
.white-box{
	width: 93.7333333%;
	height: 13.86rem;
	background: #fff;
	margin: 0 auto;
}
.diyihang{
	width: 6.64rem;
	height: 0.52rem;
	padding-top: 0.3rem;
	margin-left: 0.19rem;
}
.blue-box{
	width: 0.04rem;
	height: 0.2rem;
	background: #01b5ff;
	float: left;
	margin-top: 0.02rem;
	margin-right: 0.2rem;
}
.title-word{
	width: 6.4rem;
	height: 100%;
	float: left;
	font-size:0.23rem;
	color: #000000;
	font-weight: bolder;
}
.neirong{
	width: 6.67rem;
	height: 1.47rem;
	margin-left: 0.16rem;
}
.left-dian{
	width: 0.12rem;
	height: 0.12rem;
	border-radius: 100%;
	border: 0.02rem solid #32c3ff;
	margin-right: 0.15rem;
	float: left;
	position: relative;
}
.yuan{
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #32c3ff;
}
.right-text{
	width: 6.3rem;
	height: 1.46rem;
	float: left;
	font-size: 0.23rem;
	color: #666666;
}
.all{
	width: 6.4rem;
	height: 0.42rem;
	margin-left: 0.43rem;
	border-bottom: 0.01rem dashed #999999;
	font-size: 0.23rem;
	color: #ff9300;
	text-align: center;
	display: block;
}
