/*
* @Author: HASEE
* @Date:   2017-07-24 09:31:51
* @Last Modified by:   HASEE
* @Last Modified time: 2017-07-26 17:06:14
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.content{
	perspective: 800px;
}
.zhuan{
	width: 200px;
	height: 200px;
	background: red;
	margin:200px auto;
    transform-style: preserve-3d;
    transition: all 5s;
}
 .zhuan li{
	width: 200px;
	height: 200px;
	position: absolute;
	font-size: 100px;
	color: black;
	text-align: center;
	line-height: 200px;
}
.zhuan li:first-child{
	transform: translateZ(100px);
	background: yellow;
}
.zhuan li:nth-child(2){
	transform: translateZ(-100px) rotateX(180deg);
	background: blue;
}
.zhuan li:nth-child(3){
	transform: translateY(100px) rotateX(90deg);
	background: purple;
}
.zhuan li:nth-child(4){
	transform: translateY(-100px) rotateX(-90deg);
	background: pink;
}
.zhuan li:nth-child(5){
	transform: translateX(100px) rotateY(90deg);
	background: green;
}
.zhuan li:nth-child(6){
	transform: translateX(-100px) rotateY(270deg);
	background: cyan;
}
.zhuan:hover{
	transform: rotateX(720deg) rotateY(720deg) ;
}