/*
* @Author: HASEE
* @Date:   2017-07-26 10:20:19
* @Last Modified by:   HASEE
* @Last Modified time: 2017-07-26 19:09:17
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.youhui{
	width: 1199px;
	height: 425px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 50px auto;
}
.biaotou{
	width: 1198px;
	height: 47px;
	border-right: 1px solid  black;
}
.xiafang{
	width:1199px;
	height:378px;
	
}
.zuoce{
	width: 298px;
	height: 377px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	float: left;
}
.youce{
	width:900px;
	height: 378px;
	float: left; 
}
.youce li{
	width: 299px;
	height: 188px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	float: left;
}


/* table{
	margin: 50px auto;
} */



.dakuang{
	width: 1200px;
	height: 427px;
	background: #ffffff;
	margin: 0 auto;
}
.biaotilan{
	width: 1198px;
	height: 47px;
	border: 1px solid black;
}
.tupianlan{
	width: 1200px;
	height: 378px;
	background: #ffffff;
}
.zuotu{
	width: 298px;
	height: 377px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	float: left;
}
.youtu{
	height: 378px;
	width: 900px;
	background: #ffffff;
	float: left;
}
.youtu ul li{
	width: 299px;
	height: 188px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
	background: #ffffff;
}